#formulario{
    background-color: bisque;
    padding: 15px;
}

#formulario h2{
    background-color: rgb(20, 24, 23);
    font-family: cursive;
    color: white;
    width: 90%;
    margin: auto;
    text-align: center;
    max-width: 500px;
}

.controles{
    background-color: tomato;
    width: 90%;
    margin: auto;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
input{
    padding: 10px;
    margin: 10px;    

}
.col-peque{
    width: 40%;
}
.col-gra{
    width: 80%;
}